<div class="row" style="width:200px">
  <div class="center-div">
    <div class="login">
      <div class="login-div-up">
        <img class="login-logo" src="/assets/images/welcome.png">
          <div clas="login-form">
              <div class="form-group">
                    {{input type="username" class="form-control login-form__input" name="email" value=username placeholder="Username"}}
                </div>
                <div class="form-group">
                    {{input type="password" class="form-control login-form__input" name="password" value=password placeholder="Password"}}
                </div>
             </div>
      </div>
      <button class="btn btn-outline-info login-button" name="login" {{action 'login'}}>LOGIN</button>
      <button class="btn btn-light login-reg-button" name="register" {{action 'register'}} >Register now</button>
      <br>
      {{#link-to "dashboard.offers" class="nav-link"}}
        <span>Continue as a guest</span>
      {{/link-to}}
    </div>
  </div>
</div>
{{outlet}}
