<div class="row">
<h1 >Tour Offers</h1>
<ul class="offers-list">
  {{#each offers as |offer|}}
  {{#link-to "dashboard.offer" (query-params id=offer.id)}}
  <li class="offers-item" >
      <div class="offers-image" ><img id="offer-image" src="/assets/images/{{offer.id}}.png">
        <div class="offers-price">{{offer.price}}KM</div>
      </div>
      <div class="offers-text">
        <h2 class="offers-title">{{offer.name}}</h2>
        <div class="offers-detail"><span class="glyphicon glyphicon-star-empty"></span>  {{offer.offerType.name}} </div>
        <div class="offers-detail"><span class="glyphicon glyphicon-time"></span>  {{offer.duration}} days</div>
        </div>
  </li>
  {{/link-to}}
  <button class="btn btn-primary" {{action "toggleModal"}}>Book</button>
    
  {{#if isShowingModal}}
    {{#modal-dialog onClose="toggleModal"
                    targetAttachment="center"
                    translucentOverlay=true
                    containerClass="booking-modal"}}
      <span>Choose a date:</span>
      {{input type="date" class="form-control" name="date" value=date}}
      {{#if date}}
         <button class="btn btn-primary" {{action "saveBooking" offer}}>Save</button>
      {{/if}}

    {{/modal-dialog}}
  {{/if}}
  {{/each}}
</ul>
</div>
{{outlet}}
