<div class="container">
  <div class="center-div-register">
    <div class="register-host">
      <div class="register-div-up">
        <img class="login-logo" src="/assets/images/welcome.png">
            <div clas="login-form">
              <div class="form-group">
                {{input type="name" class="form-control login-form__input" value=name placeholder="Name"}}
              </div>
              <div class="form-group">
                {{input type="email" class="form-control login-form__input" value=email placeholder="E-mail"}}
              </div>
              <div class="form-group">
                {{input type="username" class="form-control login-form__input" value=username placeholder="Username"}}
              </div>
              <div class="form-group">
                {{input type="password" class="form-control login-form__input" value=password placeholder="Password"}}
              </div>
              <div class="form-group">
                <input type="password" class="form-control login-form__input" name="conf-password" placeholder="Confirm password"/>
              </div>
             </div>
          </div>
        <button class="btn btn-outline-info login-button" name="register" {{action 'register'}}>REGISTER</button>
      </div>
      {{#if serverError}}
        <p class="error">You are not able to register account because {{serverErrorText}}</p>
      {{/if}}
  </div>
</div>
{{outlet}}
